@model List<CartItem>

@{
ViewData["Title"] = "Košík";
}

@if (TempData["Error"] != null)
{
<div class="alert alert-danger" role="alert">
    @TempData["Error"]
</div>
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Položka</th>
                <th scope="col">Cena za kus</th>
                <th scope="col">Množství</th>
                <th scope="col">Celkem</th>
                <th scope="col">Akce</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
            <tr id="cart-item-@item.CartItemId">
                <td>@item.Ticket.Event.Name</td>
                <td>@item.Ticket.Price.ToString("C")</td>
                <td>
                    <form method="post" action="@Url.Action("UpdateQuantity", "Cart")">
                        <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                        <input type="number" name="quantity" value="@item.Quantity" min="1" max="100" class="quantity-input form-control" />
                    </form>
                </td>
                <td>@(@item.Ticket.Price * item.Quantity) Kč</td>
                <td>
                    <form method="post" asp-action="RemoveFromCart" asp-controller="Cart">
                        <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                        <button type="submit" class="btn btn-danger">Odebrat</button>
                    </form>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a href="@Url.Action("Index", "Events")" class="btn btn-secondary">Pokračovat v nákupu</a>
        <a href="@Url.Action("Checkout", "Cart")" class="btn btn-primary">Přejít k platbě</a>
    </div>
</div>


<script>
    document.querySelectorAll('.quantity-input').forEach(input => {
        input.addEventListener('change', function () {
            this.form.submit();
        });
    });

</script>